<mdb-card>
  <mdb-card-body *ngFor="let article of newsHolder.articles">
    <mdb-card-title>
      <h5>{{article.title}}</h5>
    </mdb-card-title>
    <mdb-card-title>
      <div class="text-center">
        <img src="{{article.urlToImage}}" class="rounded" alt="...">
      </div>
      <h5>{{article.source.name}}</h5>
      <h6 class="text-muted mb-2">{{article.description}}</h6>
    </mdb-card-title>
    <mdb-card-text>
      {{article.content}}
    </mdb-card-text>
    <a href="{{article.url}}" class="card-link" target="_blank" > More..</a>
  </mdb-card-body>
  <!-- <mdb-card-body>
    <mdb-card-title>
      <h5>Panel title</h5>
      <h6 class="text-muted mb-2">Panel subtitle</h6>
    </mdb-card-title>
    <mdb-card-text>
      Some quick example text to build on the panel title and make up the bulk of the panel's content.
    </mdb-card-text>
    <a href="#!" class="card-link">Card link</a>
    <a href="#!" class="card-link">Another link</a>
  </mdb-card-body> -->
</mdb-card>