<div class="row">
  <div class="col-md-8">
    <!--Card-->
    <mdb-card cascade="true" wider="true" *ngFor="let article of newsHolder.articles">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="{{article.urlToImage}}"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>{{article.title}}</strong>
        </h4>
        <h5 class="indigo-text">
          <strong>{{article.source.name}}</strong>
        </h5>

        <mdb-card-text>
          {{article.content}}
        </mdb-card-text>

        <a href="{{article.url}}" class="card-link" target="_blank" > Read more..</a>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
  </div>

