 <!--Grid column-->
 <div class="chart-button-row">
     <button (click)="onUSCountryClick()" mdbBtn type="button" color = "danger" mdbWavesEffect>US</button>
     <button (click)="onIndiaCountryClick()" mdbBtn type="button" color = "info" mdbWavesEffect>India</button>
 </div>
 <div class="row" [hidden] = "!showUsChart">

    <!--Card-->
        <!--Card content-->
            <fusioncharts
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource"
            >
          </fusioncharts>

    <!--/.Card-->

</div>  
<div class="row" [hidden] = "showUsChart">

    <!--Card-->
        <!--Card content-->
            <fusioncharts
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="indiaDataSource"
            >
          </fusioncharts>

    <!--/.Card-->

</div>
    <p class="text-dark">
        At the end of  <select class="form-select-small" (change) = "dayValueChanged($event)" >
            <option *ngFor = "let day of daysArray" [value] = "day.value">
                {{day.viewValue}}
            </option>
        </select>&nbsp; day(s), total count is expected to reach : <span class="text-danger">{{getEstimatedCount() | number: '1.0-0'}}</span> </p>

        <blockquote class="blockquote bq-primary">
            <p class="bq-title">Disclaimer:</p>
            <p class="mb-0"> The projection used here is based on the data available, 
                importantly this is just an estimate. Actual results may vary based on the contain measures.</p>
                <footer class="blockquote-footer mb-3">Antony G Greg, Developer of this page</footer> 

            
        </blockquote>

    