 <!--Grid column-->
 <div class="chart-button-row">
     <button (click)="onUSCountryClick()" mdbBtn type="button" color = "danger" mdbWavesEffect>US</button>
     <button (click)="onIndiaCountryClick()" mdbBtn type="button" color = "info" mdbWavesEffect>India</button>
 </div>
 <div class="row" [hidden] = "!showUsChart">

    <!--Card-->
        <!--Card content-->
            <fusioncharts
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource"
            >
          </fusioncharts>

    <!--/.Card-->

</div>  
<div class="row" [hidden] = "showUsChart">

    <!--Card-->
        <!--Card content-->
            <fusioncharts
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="indiaDataSource"
            >
          </fusioncharts>

    <!--/.Card-->

</div>
    <p class="text-primary">
        At end of  <select class="form-select-small" (change) = "dayValueChanged($event)" >
            <option *ngFor = "let day of daysArray" [value] = "day.value">
                {{day.viewValue}}
            </option>
        </select>&nbsp;th day, it is expected to reach : </p>
        <p class="text-warning">{{getEstimatedCount() | number: '1.0-0'}}</p>

    